<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to CreationSpace</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ baseUrl }}/resources/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="site-wrapper d-flex flex-row justify-content-between">
        <header class="site-sidebar" id="site-sidebar">
            <div class="site-sidebar-content d-flex flex-column justify-content-between">
                <div class="sidebar-top">
                    <div class="site-logo-section">
                        <a href="." class="site-logo-title">CreationSpace</a>
                    </div>
                    <nav class="primary-menu">
                        <ul class="list-unstyled">
                            <li>
                                <a href="" class="d-flex flex-row align-items-center active">Feeds</a>
                            </li>
                            <li>
                                <a href="" class="d-flex flex-row align-items-center">Blogs</a>
                            </li>
                            <li>
                                <a href="" class="d-flex flex-row align-items-center">News</a>
                            </li>
                            <li>
                                <a href="" class="d-flex flex-row align-items-center">Login</a>
                            </li>
                            <li>
                                <a href="" class="d-flex flex-row align-items-center">About</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="shadow-site-sidebar"></div>
        <div class="site-content" id="site-content">
            <div class="action-nav"> </div>
            <main class="content-wrap">
                    <div class="login-card post-card">
                    <div class="d-flex flex-xl-row flex-column">
                        <div class="text-column d-flex flex-column justify-content-between">
                            <div>
                                <h1>Welcome to CreationSpace</h1>
                                <h3>Share your Idea</h3>
                            </div>
                            <div>
                                <p>
                                    A network for team, individual, and organisation to share their idea to
                                    the world.
                                </p>
                            </div>
                        </div>
                        <div class="form-column">
                            <h4>Join in Less than 1 minute</h4>
                            <div class="magic-form">
                                <div class="form-group d-flex flex-column">
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email">
                                    <div class="form-group mt-2">
                                        <button type="submit" id="email_btn" class="btn btn-default">Login/Register</button>
                                    </div>
                                </div>
                            </form>

                            <p class="mb-3 text-muted">OR Login with</p>
                            <div class="social-login d-flex flex-row flex-wrap">
                                <a href="{{ loginUrl }}" class="d-flex flex-row align-items-center btn-fb">Facebook</a>
                                <a href="{{ loginUrl }}" class="d-flex flex-row align-items-center btn-google">Google</a>
                            </div>
                        </div>
                    </div>
            </main>
        </div>

        <div class="site-widget">

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>